:root{
    --primary-color:  #6da5ff;
    --hover-color: #66a0ff;
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Open sans', sans-serif;
    background: #f1f1f1;
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: center;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

ul{
    list-style: none;
}

h1, h2, h3{
    margin: 0;
    padding: 1em 0;
}

p{
    margin: 0;
    padding: 1em 0;
}

.container{
    padding: 0 1.5em;
}

.btn{
    background: var(--primary-color);
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #66a0ff;
    padding: .5em 2em;
    margin: .5em 0;
}

.btn:hover{
    background: var(--hover-color);
}

/* NAVIGATION */

#main-header{
    background: var(--primary-color);
    color: #fff;
    height: 100px;
}

#main-nav{

}

#main-nav #brand{
    margin: 0;
    padding: 0.7em;
}

#main-nav #navigation li{
    display: inline-block;
    padding: 0 10px;
}

#main-nav #navigation li a{
    text-decoration: none;
    color: #fff;
}

/* SHOWCASE */
#showcase{
    height: calc(100vh - 100px);
    color: #fff;
    text-align: center;
}

#showcase .bg-image{
    position: absolute;
    background: #333 url('https://static.pexels.com/photos/6482/black-and-white-man-person-hands.jpg?cs=srgb&dl=apple-black-and-white-camera-6482.jpg&fm=jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 100px);
    z-index: -1;
    opacity: 0.8;
}

#showcase h1{
    padding-top: calc(100vh/2.5 - 100px);
    padding-bottom: 0px;
    font-size: 2.5em;
    line-height: 1.5;
    text-shadow: 0 0 4px #222;
}

#showcase p{
    text-shadow: 0 0 4px #222;
}

/* Project Preview */

#project-preview{
    background: var(--primary-color);
    color: #fff;
    padding-bottom: 2em;
}

/* Project Cards */

#project-cards{
    padding: 2em 1em 1em;
}

#project-cards ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#project-cards li{
    list-style: none;
    background: #fff;
    margin-bottom: 1em;
    box-shadow: 0 0 15px 1px #ddd;
}

.card-content{
    padding: 1.5em;
}

/* About Section */
#about-section{
    background-color: var(--primary-color);
    color: #fff;
    padding:20px;
}

#about-section a{
    background-color: #fff;
    color: var(--primary-color);
    transition: color,background-color 500ms;
}
#about-section a:hover{
    transition: 500ms;
    background-color:var(--primary-color);
    color:  #fff;
}
.about-text{
    background-color: #fff;
    margin: 10px;
    padding: 25px;
    box-shadow: 0 0 15px 1px #ddd;
}

.about-text h1{
    font-size: 3em;
    color: var(--primary-color);
}

/* About Footer  */
#about-footer{
    background-color: #fff;
    padding: 10px 20px;
}

/* Footer */

#main-footer{
    background-color: #333;
    color: #fff;
}

/* Content Heading */
#content-header{
    background-color:#3f7ee2;
    color: #fff;
}
#content-header h1{
    text-align: left;
    padding: 25px 30px;
}

/* Media Queries */

@media(min-width: 700px){
    .grid{
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }
    .container, #project-cards ul{
        grid-column: 2/4;
    }
    #project-cards ul{
        display: flex;
        justify-content: space-around;
    }
    .box{
        grid-column: span 2;
    }
    #project-cards li{
        width: 31%;
    }
    #brand{
        float: left;
        line-height: 65px;
    }
    #navigation{
        float: right;
        line-height: 100px;
    }
    #navigation li{
        float: left;
        display: inline-block;
        padding: 0;
        margin: 0;
    }
    #navigation a{
        display: block;
        padding: 0 5px;
        width: 80px;
        margin: 0;
        transition: background 300ms;
    }
    #navigation a:hover{
        transition: background 300ms;
        display: block;
        background:#5481c9;
    }
}

@media(max-width: 360px){
    #navigation li a{
        font-size: .8em;
    }
}

@media(max-width: 320px){
    #navigation li a{
        font-size: .7em;
    }
}